swagger: "2.0"
info:
  version: "1.0.0"
  title: User API

host: localhost:3000
basePath: /api
schemes:
  - http

consumes:
  - application/json
produces:
  - application/json

securityDefinitions:
  Bearer:
    type: apiKey
    name: Authorization
    in: header
    description: "JWT Authorization header using Bearer token"

paths:

  /auth/register:
    post:
      summary: Register user
      operationId: registerUserController
      x-swagger-router-controller: user.controller
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/RegisterUser"
      responses:
        201:
          description: User registered successfully
        400:
          description: Missing required fields
        500:
          description: Internal server error

  /auth/login:
    post:
      summary: Login user
      operationId: loginUserController
      x-swagger-router-controller: user.controller
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/LoginUser"
      responses:
        200:
          description: Login successful
        500:
          description: Server error

  /auth/refresh-token:
    post:
      summary: Refresh token
      operationId: refreshTokenController
      x-swagger-router-controller: user.controller
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/RefreshToken"
      responses:
        200:
          description: New access token generated
        500:
          description: Server error

  /auth/revoke:
    post:
      summary: Revoke user
      operationId: revokeUserController
      x-swagger-router-controller: user.controller
      security:
        - Bearer: []
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/RevokeUser"
      responses:
        200:
          description: User revoked successfully
        400:
          description: userId is required
        500:
          description: Server error


  /users:
    get:
      summary: Get all users or own user
      operationId: userGetter
      x-swagger-router-controller: user.controller
      security:
        - Bearer: []
      responses:
        200:
          description: Success
        401:
          description: Unauthorized
        500:
          description: Server error


  /users/{id}:
    put:
      summary: Update user by ID
      operationId: updateUserController
      x-swagger-router-controller: user.controller
      security:
        - Bearer: []
      parameters:
        - name: id
          in: path
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/UpdateUser"
      responses:
        200:
          description: User updated successfully
        400:
          description: No fields to update
        403:
          description: Forbidden
        404:
          description: User not found
        500:
          description: Internal server error

    delete:
      summary: Delete user by ID
      operationId: deleteUserController
      x-swagger-router-controller: user.controller
      security:
        - Bearer: []
      parameters:
        - name: id
          in: path
          required: true
          type: string
      responses:
        200:
          description: User deleted successfully
        403:
          description: Forbidden
        404:
          description: User not found
        500:
          description: Internal server error


definitions:

  RegisterUser:
    type: object
    required:
      - name
      - email
      - password
      - teamId
      - roleId
    properties:
      name:
        type: string
      email:
        type: string
      age:
        type: integer
      password:
        type: string
      mobile:
        type: integer
      teamId:
        type: string
      roleId:
        type: string

  LoginUser:
    type: object
    required:
      - email
      - password
    properties:
      email:
        type: string
      password:
        type: string

  RefreshToken:
    type: object
    required:
      - token
    properties:
      token:
        type: string

  RevokeUser:
    type: object
    required:
      - userId
    properties:
      userId:
        type: string

  UpdateUser:
    type: object
    properties:
      name:
        type: string
      email:
        type: string
      age:
        type: integer
      mobile:
        type: integer
      teamId:
        type: string
      roleId:
        type: string
